{% extends 'ciencias_app/base.html' %} {% block content %}

<p>Departamento: {{ Departamento }}</p>

<p>Profesores:</p>
<p>
    <a href="{% url 'ciencias_app:NuevoProfesor' Departamento.id %}">Añadir nuevo profesor</a>
</p>

<ul>
    {% for Profesor in Profesores %}
    <li>
        <p>{{ Profesor.Nombre|linebreaks}}</p>
        <p>{{ Profesor.Apellido|linebreaks }}</p>
    </li>
    {% empty %}
    <li>No hay profesores para este departamento.</li>
    {% endfor %}
</ul>

{% endblock content %}